/* set up */
.wrapper > div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: #ccc;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 3em;
    /* justify */
    /* justify-items: start; */
    /* justify-items: center; */
    /* justify-items: end; */
    justify-items: stretch;


    /* align */
    /* align-items: start; */
    /* align-items: center; */
    align-items: stretch;
}


.box1 {
    align-self: start;
}

.box2 {
    align-self: end;
}

.box3 {
    justify-self: end;
}

.box4 {
    grid-column: 1/3;
    grid-row: 3/5;
}

.box5 {
 grid-column: 3;
 grid-row: 2/5;
}

.box6 {
    grid-row: 2/4;
    grid-column: 2/3;
    border: 1px black solid;
}