#body {
    font-family: Helvetica, Lucida, Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.125rem;
    font-weight: 200;
    word-spacing: 0.5rem;
  }
  
  #navbar {
    border-radius: 0px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
  }
  
  #navbar li a{
    color: #000000;
    margin-left: 3rem;
    margin-right: 3rem;
    letter-spacing: 0.5rem;
    font-weight: 200;
    word-spacing: 0.5rem;
    border-radius: 3px;
  }
  
  #navbar li a:hover {
    background-color: #FFFFFF;
    color: #8b3a3a; 
    text-decoration: underline;
  }
  
  #navbar li a:active {
    background-color: #FFFFFF;
    color: #9A0026; 
    text-decoration: underline;
  }
  
  #navbar li.dropdown a:hover {
    background-color: #FFFFFF;
    color: #9A0026; 
    text-decoration: underline;
  }
  
  #navbar li.dropdown a {
    background-color: #FFFFFF;
  }
  
  #navbar p {
    color: #000000;
    text-align: left;
    font-weight: bold; 
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
    
  }
  
  #jumbotronHead {
    background-image: url("https://cdn.pixabay.com/photo/2016/03/26/13/12/pencils-1280558_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  #JumbotronText1  {
    color: #FFFFFF;
    display: block;
    margin-top: 300px;
    margin-bottom: 300px; /* added because of the commented out subheading */
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    letter-spacing: 1.05rem;
    font-weight: bold;
    word-spacing: 1.05rem;
    border-style: solid;
    border-width: thick;
    border-color: #FFFFFF;
  }
  
  #JumbotronText2  {
    color: #FFFFFF;
    display: block;
    padding-top: 0px;
    padding-bottom: 400px;
    text-align: center;
    letter-spacing: 1.05rem;
    font-weight: 150;
    word-spacing: 1.05rem;
  }
  
  #PortraitsHeader {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  
  #portraitsQuote {
    font-size: 1.75rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-style: italic;
  }
  
  #portraitsGallery {
    border: none;
    box-shadow: none;
    padding: 0;
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 0px;
  }
  
  #portraitsGallery img{
    height: auto;
    max-width: 100%;
    border-radius: 0px;
  }
  
  #AboutMe {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  #PortraitsModalButton {
    width: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 5rem;
    border-style: solid;
    border-width: thick;
    border-color: #FFFFFF;
  }
  
  #PortraitsModalButton {
    background: none;
    border-radius: 0;
    
  }
  
  #PortraitsModalButton p {
    color: #FFFFFF;
    text-transfrom: uppercase;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0rem;
    word-spacing: 1rem;
  }
  
  #PortraitsModalDialog {
    width: 50%;
    height: auto;
    padding: 0;
    border-radius: 10px;
  }
  
  #PortraitsModal .modal-header {
    background-color: #3b3b3a;
    color: #FFFFFF;
    font-family: Helvetica, Lucida, Arial, Sans;
    font-weight: 100;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
  }
  
  #PortraitsModalContent {
    max-height: 50%;
    width: auto;
    border-radius: 0;
    padding: 0;
    margin: 0, 0;
  }
  
  #PortraitsModal button {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
  }
  
  #PortraitsModalButton:hover {
    border-color: #9A0026;
  }
  
  #PortraitsCarousel .left-carousel-control {
    position: absolute;
    top: 50%;
    right: 95%;
    color: #FFFFFF;
    font-size: 5rem;
  }
  
  #PortraitsCarousel .right-carousel-control {
    position: absolute;
    top: 50%;
    left: 95%;
    color: #FFFFFF;
    font-size: 5rem;
  }
  
  #aboutMeHeader {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  
  #AboutPara {
    font-size: 1.65rem;
    margin-top: 5%;
  }
  
  #AboutMeImage {
    height: auto;
    width: 30%;
    overflow: hidden;
    margin-left: 8%;
    margin-top: 2%;
    text-align: center;
  }
  
  #AboutMeImage img {
    width: 100%;
    height: auto;
  }
  
  #UPHeader {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  
  #UPquote {
    font-size: 5rem;
    padding-bottom: 2rem;
    float: left;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: 0.5rem;
    font-family: Verdana, Helvetica, Lucida, Arial, Sans;
    position: absolute;
    top: -30rem;
    text-align: left;
    
    
  }
  
  #jumbotronUP {
    background-image: url("http://res.cloudinary.com/drtgaiox7/image/upload/v1500133486/IMG_8118_zpsmusmtbbo_evptno.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 500px;
    padding-bottom: 500px;
  }
  
  
  #PortfolioModalButton {
    width: auto;
    position: absolute;
    bottom: -40rem;
    left: 15%;
    border-style: solid;
    border-width: thick;
    border-color: #FFFFFF;
    border-radius: 0px;
    padding-left: 15%;
    padding-right: 15%;
    background: none; 
  }
  
  
  #PortfolioModalButton p {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0rem;
    word-spacing: 1rem;
  }
  
  #PortfolioModalButton:hover {
    border-color: #9A0026;
  }
  
  #PortfolioModalDialog {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
  }
  
  #PortfolioModal .modal-header {
    background-color: #3b3b3a;
    color: #FFFFFF;
    font-family: Helvetica, Lucida, Arial, Sans;
    font-weight: 100;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
  }
  
  #PortfolioModalContent {
    max-height: 60%;
    width: auto;
    border-radius: 0;
    padding: 0;
    margin: 0, 0;
    
  }
  
  #PortfolioCarousel {
    height: auto;
    width: 90%;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #PortfolioCarousel h3 {
    font-family: Helvetica, Lucida, Arial, sans-serif;
    text-align: center;
    letter-spacing: 0.25rem;
    font-weight: 100;
    word-spacing: 0.5rem;
  }
  
  #PortfolioCarousel .left-carousel-control {
    position: absolute;
    top: 50%;
    right: 95%;
    color: #FFFFFF;
    font-size: 5rem;
  }
  
  #PortfolioCarousel .right-carousel-control {
    position: absolute;
    top: 50%;
    left: 95%;
    color: #FFFFFF;
    font-size: 5rem;
  }
  
  #Purchase {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  #PurchaseHeader h4 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  
  #PurchaseText p {
    font-size: 1.65rem;
    margin-top: 2.5%;
    text-align: center;
  }
  
  #PurchasePanel {
    margin-top: 2%;
  }
  
  #PurchasePanel .panel-heading {
    background-color: #3B3B3A;
    color: #FFFFFF;
  }
  
  #PurchasePanel .panel-footer {
    background-color: #3B3B3A;
    color: #FFFFFF;
  }
  
  #PurchasePanel .panel-body li {
    list-style: none; 
    margin-top: 5%;
  }
  
  #PurchasePanel .panel-body {
    text-align: center;
    
  }
  
  #PurchasePanel button {
    background-color: #FFFFFF;
    color: #3B3B3A;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    
  }
  
  #ContactHeader {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  
  #ContactInfo {
    background-image: url("https://cdn.pixabay.com/photo/2015/05/15/14/36/beach-768587_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
  }
  
  #ContactInfo label {
    color: #FFFFFF;
    font-weight: 100;
    letter-spacing: 0.5rem;
  }
  
  #ContactInfo {
    padding-top: 2%;
    padding-bottom: 2%
  }
  
  #ContactButton {
    background: none;
    border-type: solid;
    border-color: #FFFFFF;
    border-width: 3px;
    color: #FFFFFF;
    letter-spacing: 0.5rem;
  }
  
  #ContactButton:hover {
    border-color: #9A0026;
  }
  
  #ContactText {
     color: black;
     margin-top: 5%;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: 100;
    float: right;
    margin-right: 1%;
  }
  
  #ContactText p{
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  
  
  #footer p{
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline;
  
  }
  
  #SocialLinks {
    float: right;
    display: inline;
  }
  
  #footer { 
    padding-top: 3%;
    background-color: #FFFFFF;
    height: 60px;
  }
  
  #SocialLinks i {
    margin-left: 1rem;
    margin-right: 1rem;
  }