$color-main: #010101;
$color-white: #ffffff;
$color-name: #FFA400;
$color-blue: #009FFD;
$color-blue-dark: #1C77C3;

@import url(https://fonts.googleapis.com/css?family=Oleo+Script:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

* {
  outline: none!important;
  transition: all 0.3s;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
}

// Top Navigation
.navbar.navbar-inverse {
  background: $color-main!important;
}
.navbar-header * {
  color: $color-white!important;
}
.navbar-brand {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  font-size: 21px;
  color: $color-name!important;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: $color-main;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $color-white!important;
}
.navbar-inverse .navbar-nav>li>a {
  font-size: 16px;
  color: white;
  font-weight: 600;
  //text-transform: uppercase;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a {
  color: $color-main;
  background-color: $color-white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: $color-main;
  color: $color-white;
}

h2.section_title {
  text-align: center;
  font-size: 50px;
  margin: 60px 50px;
  font-weight: 600;
  font-family: 'Oleo Script', cursive;
}
// Startscreen
#startscreen {
  margin-top: 50px;
  padding-top: 65px;
  min-height: 500px;
  background: url(https://s-media-cache-ak0.pinimg.com/originals/0e/51/5e/0e515ea375cc8bab92ec848528081526.jpg) center center;
  background-attachment: fixed;
  background-size: cover;
  font-weight: bold;
  color: $color-white;
  text-align: center;
  h1 {   
    font-family: 'Oleo Script', cursive;
    text-shadow: 1px 1px 3px $color-main;
    span {     
      font-size: 37px;
      color: $color-name;
    }
  }
  hr {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  span {
    font-size: 30px;
    text-shadow: 1px 1px 3px $color-main;
  }
  h2 {
    margin: 50px auto 0;
    padding: 12px 0;
    font-size: 40px;
    text-shadow: 1px 1px 3px $color-main;
    border-radius: 10px;
    display: block;
    max-width: 600px;
    min-height: 70px;
    font-weight: bold;
    background-color: rgba(1,1,1,0.5);
  }
  a {
    display: block;
    text-decoration: none;
    color: $color-white;
    margin: 50px auto;
    padding: 5px 0;
    font-size: 30px;
    max-width: 240px;
    border-radius: 10px;
    border: none;
    border-bottom: 3px lighten($color-main, 30%) solid;
    text-shadow: 1px 1px 3px $color-main;
    background: $color-blue;
    &:hover, &:focus {
      background: $color-blue-dark;
      border-bottom: 1px lighten($color-main, 30%) solid;
    }
  }
}
#features {
  text-align: center;
  padding: 20px 0 30px;
  .num {
    font-size: 70px;
    display: block;
    font-weight: bold;
  }
  .txt {
    font-size: 30px;
    top: -10px;
    position: relative;
  }
}
#about {
  background: $color-main;
  padding: 0 0 60px;
  color: $color-white;
  p {
    font-size: 30px;
    margin: 0 0 30px;
    b {
      color: $color-name;
    }
  }
  img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    border: 7px $color-white solid;
  }
  span {
    font-size: 30px;
    text-align: center;
    display: block;
    margin-top: 10px;
  }
}
#portfolio {
  padding-bottom: 50px;
  h2 {
    color: $color-main;
  }
  text-align: center;
  .project-wrap {
    a {
      background: $color-blue;
      display: block;
      border-radius: 10px;
      color: $color-white;
      max-width: 400px;
      margin: 20px auto;
      img {
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
      span, b {
        transition: all 0s;
      }
      span.top {
        padding: 15px 10px 0;
        display: block;
        font-size: 20px;
        font-weight: bold;
      }
      span.bottom {
        font-style: italic;
        padding: 0 10px 15px;
        display: block;
        font-size: 18px;

      }
      &:hover, &:focus {
        text-decoration: none!important;
        background: $color-name;
        color: $color-main;
        box-shadow: 0px 0px 7px 1px lighten($color-main, 50%);
      }
    }
  }
  .coming-soon a {
    cursor: default;
    background: #ddd;
    color: #000;
    &:hover, &:focus {
      cursor: default;
      text-decoration: none!important;
      box-shadow:none;
      background: #ddd;
      color: #000;
    }
  }
}
#contacts {
  min-height: 400px;
  color: $color-white;
  background: url(https://s-media-cache-ak0.pinimg.com/originals/f0/be/ba/f0bebaf5becd2f0345525ba82239f7ff.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  .social {
    margin-bottom: 40px;
  }
  .email {
    font-size: 30px;
    margin-bottom: 5px;
    a {
      color: $color-white;
      font-weight: 600;
      text-decoration: none;
      &:hover, &:focus {
        color: $color-blue;
      }
    }
  }
  .soc {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 10px 10px;
    border-radius: 10px;
    background: $color-white;
    &:hover, &:focus {
      color: $color-white;
      background: $color-blue;
    }
    a {
      display: block;
      padding: 7px 12px;
      text-decoration: none;
      color: $color-main;
      i {
        transition: all 0s;
        margin-right: 5px;
      }
      &:hover {
        color: $color-white;
      }
    }
  }
}
#copy {
  background: lighten($color-main, 100%);
  .copy {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
    color: $color-main;
  }
}
#scroll-to-top {
  display: none;
  position: fixed;
  opacity: 0.6;
  background: $color-blue;
  border-radius: 10px;
  padding: 7px 10px 10px;
  right: 20px;
  bottom: 20px;
  width: 47px;
  height: 45px;
  transition: all 0s;
  i {
    transition: all 0s;
    color: $color-white;
  }
  &:hover {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #about {
  p {
    font-size: 25px;
  }
  span {
    font-size: 30px;
  }
}
  #portfolio {
    .project-wrap {
      a {
        span.top {
          font-size: 17px;
        }
        span.bottom {
          font-size: 16px;
        }
      }
    }
  }
  
}
