@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,500,700');

@import url(https://fonts.googleapis.com/css?family=Arimo);

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
font-family: 'Montserrat', sans-serif;

/* 
℘ąŋƙąʝ ɖɧıɱąŋ
*/



body {
    background: #fff;
    color: #414141;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased !important;
}

background-image {
  
}

a {
    text-decoration: none;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
    outline: medium none;
    text-decoration: none;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%, height: auto;
}

strong,
b {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

.clear {
    border: 0;
    clear: both;
    height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
}

input,
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

html,
body {
    height: 100%;
}

/**** NAV ****/
nav.navbar-default {
    background-color: rgba(0, 0, 0, 0.28);
    border-color: rgba(0, 0, 0, 0.05);
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.navbar-default.affix {
    background-color:#222;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

nav.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

nav.navbar-default .navbar-brand:focus, nav.navbar-default .navbar-brand:hover {
    color: #fff !important;
    background-color: transparent;
}

nav.navbar-default .navbar-nav>li>a{
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

nav.navbar-default .navbar-nav>li>a:focus,
nav.navbar-default .navbar-nav>li>a:hover {
    color: #F05F40;
    background-color: transparent;
}

nav.navbar-default .navbar-nav li a.active,
nav.navbar-default .navbar-nav li a.active:focus,
nav.navbar-default .navbar-nav li a.active:hover {
    color: #F05F40;
    background-color: transparent;
}


/**** NAV END ****/
/**** HEADER ****/

. display-3 {
   background-image:url('https://images.pexels.com/photos/2199293/pexels-photo-2199293.jpeg');
  color: #f0f0f0;
}




header {
    min-height: 100%;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
     background-image:url('https://images.pexels.com/photos/2199293/pexels-photo-2199293.jpeg');
}



header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

header,
header .header-content {
    position: relative;
    width: 100%;
    text-align: center;
}

header .header-content {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    z-index: 10;
}

header .header-content .header-content-inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.41);
   
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}



.header-content-inner h1 {
    font-size: 75px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
   font-family: 'Roboto Condensed', sans-serif;
}

.header-content-inner h1:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background: #F05F40;
}

.header-content-inner p {
    font-size: 30px;
    line-height: 1.8;
    color: #e4e4e4;
  font-family: 'Oswald', sans-serif;
}
/**** HEADER END ****/
/**** ABOUT ****/
.bg-color{
    background:#F05F40;
}

section{
    padding: 80px 0;
    position: relative;
    text-align: center;
}

.about-section h3{
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.05em;
}

.about-section h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#c34d34;
}

.about-section p{
    font-size: 45px;
    line-height: 1.8;
    color: #fff;
    margin-bottom: 15px;
}

.btn-default-new{
    background: #c34d34;
    border-radius: 40px;
    border: solid 3px #c34d34;
    color: #ffffff;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding: 0 25px;
    line-height: 3.1;
    margin-top: 30px;
    letter-spacing: 0.05em;
    -ms-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.btn-default-new:hover, .btn-default-new:focus{
    background: #fff;
    color: #c34d34;
    border-color: #c34d34;
}
/**** ABOUT END ****/
/**** SERVICE ****/

.service-section h3{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 0.05em;
}

.service-section h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}

.service-items .icon{
    color: #F05F40;
    font-size: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
   
    margin: 0 auto 30px;
    line-height: 98px;
      vertical-align: middle;
}

.service-section h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 30px auto 0;
    background:#F05F40;
}

.service-items h4{
    font-size: 32px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #F05F40;
  

  
    
}

.service-items h4 a{
    color: #222;
  

}

.service-items h4 a:hover{
    color: #F05F40;
  
}

.service-items li{
    font-size: px;
    line-height: 1.6;
    color: #414141;
    margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold
}

/**** SERVICE END ****/


/**** ORDERING GUIDE ****/
.ordering-section h3{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 0.05em;
  
}

.ordering-section h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 30px auto 0;
    background:#F05F40; 
   width: 100px;
}


.custom-counter {
  margin: 20;
  padding: 20;
  list-style-type: none;
  text-align: left;
}

.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 30px;
}

li:before {
   
    font-weight: bold;
  margin-bottom: 30px;
}

.custom-counter li::before {
  content: "Step " counter(step-counter);
  margin-right: 10px;
  font-size: 130%;
  background-color: rgb(0,200,200);
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 30px;
  display: table;
  
}

.custom-counter li {
   font-size: 130%;
}




/**** ORDERING GUIDE END****/



/**** RATES ****/

.rates-section{
    padding: 10px;
}


.rates-section h3{
    font-size: 36px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 0.05em;
  
}

.rates-section h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40; 
}

.contact h4 {
    font-size: 50px;
    line-height: 1.6;
    color: white;
    margin-bottom: 0px;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  background: #eee;
  padding: 0px 0;
}
h1 {
  text-align: center;
  padding-bottom: 0px;
  font-family: Montserrat;
  font-weight: 700;
  color: #323232;
}

.card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.03);
  border-right: 1px #dde0e2 solid;
  border-radius: 4px 4px 0 0;
  position: center;
  background-color: white;
  color: #56575b;
  margin: 5px 0;

  .plan-name {
    padding: 13px 0;
    border-bottom: 1px #eff0f2 solid;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #464c50;
    font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px; font-family: 'Roboto', sans-serif;
  }

  .plan-description {
    padding: 15px;
    line-height: normal;
    min-height: 175px;
    font-size: 14px;
    line-height: 18px;
  }

  .plan-price sub {
    text-transform: none;
    font-size: 16px;
    bottom: 0;
  }

  .plan-price {
    color: #56575b;
    font-family: "Open sans";
    font-size: 34px;
    text-transform: uppercase;
    line-height: 50px;
  }

  sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  .plan-description.specs {
    min-height: 200px;
    line-height: 20px;
  }

  .plan-cta {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    min-height: 95px;
    &:hover a {
      opacity: 0.8;
      color: #fff;
      text-decoration: none;
    }
  }
  .button,
  .button-primary {
    background: #2a5bd7;
    border-radius: 8px;
    font-size: inherit;
    color: white;
    transition: background 100ms linear;
    text-decoration: none;
    line-height: normal;
    outline: none !important;
    padding: 0.6em 1em;
  }
}


/**** Rates ****/




/**** FOOTER ****/

footer{
    background: #222;
    padding: 80px 0;
    position: relative;
    text-align: center;
}

footer h4{
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.05em;
}

footer h3:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto 0;
    background:#F05F40;
}


footer p{
    font-size: 18px;
    line-height: 1.6;
    color: #adadad;
}

.gap{
    display: block;
    margin-top: 50px;
}

footer span.glyphicon{
    color: #adadad;
    font-size: 28px;
    display: block;
    margin: 0 auto 30px;
}

footer a{
    color: #adadad;
    
}

footer a:hover{
    color: #F05F40;
}




/* Steps */
.step {
  position: relative;
  min-height: 1em;
  color: gray;
}
.step + .step {
  margin-top: 1.5em
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}
.step.step-active {
  color: #4285f4
}
.step.step-active .circle {
  background-color: #4285f4;
}

/* Circle */
.circle {
  background: gray;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
}

/* Vertical Line */
.circle:after {
  content: ' ';
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}
.step:last-child .circle:after {
  display: none
}

/* Stepper Titles */
.title {
  line-height: 1.5em;
  font-weight: bold;
}
.caption {
  font-size: 0.8em;
}
